/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3em;
}

.basic-grey {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  max-width: 500px;
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
  font: 16px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border:1px solid #E4E4E4;
}

[type=text] {
  margin: 0 auto;
  width: 450px;
  height: 3em;
}

.textentry {
  margin: 0 auto;
}

.weather {
  text-align: center;
  margin: 0 auto;
}

